@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

main {
  background-color: lavender;
  padding: 2rem;
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.blurb {
  font-size: large;
  text-align: left;
  margin-bottom: 2rem;
}

.triad-details {
  margin-top: 2rem;
  font-size: larger;
}

.btn-answer {
  margin-top: 2rem;
}

.image-credit {
  margin-top: 3rem;
  font-size: small;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
